.logo {
  --hover-shadow-color: transparent;

  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;

  &.vite {
    --hover-shadow-color: #747bff;
  }

  &.react {
    --hover-shadow-color: #61dafb;
  }

  &.tauri {
    --hover-shadow-color: #24c8db;
  }

  &:hover {
    filter: drop-shadow(0 0 2em var(--hover-shadow-color));
  }
}